body {
}

.crossword-row {
    clear: left;
    white-space: nowrap;
}

.crossword-row > div {
    float: left;
    text-align: center;    
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
