body {
}

.crossword-row {
    clear: left;
    white-space: nowrap;
}

.crossword-row > div {
    float: left;
    text-align: center;        
    background-color: green;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
